body {
  /* background: linear-gradient(#e0fbfc, #b4cddb, #253237); */
  background: #f0f5fa;
}
.weatherApp {
  max-width: 500px;
  font-family: "Encode Sans", sans-serif;
  border-radius: 5px;
  margin: 30px auto;
  padding: 15px 10px;
  /* background-color: #acd1e7e7; */
  background: #5f87ab;
}

h1 {
  margin-top: 30px;
  color: #fff;
  font-size: 50px;
}

ul {
  list-style: none;
}
li {
  text-transform: capitalize;
}
#timeDescription {
  padding: 0;
  color: #fff;
}

.weatherTemperature img {
  height: 64px;
  width: 64px;
  color: #fff;
}

.currentWeather {
  display: inline;
  font-size: 64px;
  vertical-align: middle;
  color: #fff;
}
.row {
  --bs-gutter-x: 6rem;
  padding-right: 5px;
}
hr {
  margin-top: 25px !important;
  color: #fff;
}

#temperatureInfo {
  color: #fff;
  margin-left: -15px;
}
.metrics {
  font-size: 15px;
  margin-left: -15px;
  position: relative;
  top: -32px;
}

.searchCity {
  display: inline;
  width: auto;
  padding-right: 5px;
  padding-left: 45px;
}
.submmitButton {
  width: auto;
  padding-left: 0px;
  border-width: 0;
}
#searchSquare-input {
  width: 385px;
}

.weatherTemperature .active {
  color: #fff;
  cursor: default;
  text-decoration: none;
}
.weatherForecast {
  text-align: center;
  margin: o -50px 20px 10px;
}
.forecastContainer {
  margin-top: 9px;
  margin-bottom: 15px;
}
h3 {
  color: #fff;
  margin-bottom: 20px;
}
.day {
  color: #fff;
  font-size: 16px;
}
.weatherForecastIcon {
  width: 50px;
}
.weatherForecastMinTemperature,
.weatherForecastMaxTemperature {
  font-size: 13px;
}
.weatherForecastMaxTemperature {
  color: #fff;
}
.weatherForecastMinTemperature {
  color: #ddd7d7;
}

.search-term {
  border-width: 0;
  border-radius: 5px 0 0 5px;
  background-color: #fff;
}
#searchButton {
  border-radius: 0 5px 5px 0;
  background-color: #fff;
  color: rgb(86, 87, 90);
  border-color: initial;
  border-width: 0;
  border-left-width: 1px;
}
#searchButton:hover {
  background-color: aliceblue;
}
.row > * {
  padding-right: 0;
}
small {
  margin: 20px auto 0 auto;
  width: 500px;
  display: block;
}
