.weatherApp {
  max-width: 600px;
  font-family: "Encode Sans", sans-serif;
  border: 2px solid #dadde1;
  border-radius: 5px;
  margin: 30px auto;
  padding: 15px 10px;
}

h1 {
  margin-top: 15px;
  color: #504b4b;
  font-size: 64px;
}

ul {
  list-style: none;
}
li {
  text-transform: capitalize;
}
#timeDescription {
  padding: 0;
  color: #6f6a6a;
}

.weatherTemperature img {
  height: 64px;
  width: 64px;
  color: #504b4b;
}

.currentWeather {
  display: inline;
  font-size: 64px;
  vertical-align: middle;
  color: #504b4b;
}
.row {
  --bs-gutter-x: 5rem;
}

#temperatureInfo {
  color: #6f6a6a;
  margin-left: -20px;
}
.metrics {
  font-size: 15px;
  margin-left: -15px;
  position: relative;
  top: -32px;
}
#far {
  font-size: 15px;
  margin-left: -2px;
  position: relative;
  top: -32px;
}
.searchCity {
  display: inline;
  width: auto;
  padding-right: 5px;
  padding-left: 45px;
}
.submmitButton {
  width: auto;
  padding-left: 0px;
}
#searchSquare-input {
  width: 385px;
}

.weatherTemperature .active {
  color: #6f6a6a;
  cursor: default;
  text-decoration: none;
}
.weatherForecast {
  text-align: center;
  margin: 45px -50px 20px 10px;
}
.day {
  color: #797474;
  font-size: 16px;
}
.weatherForecastIcon {
  width: 50px;
}
.weatherForecastMinTemperature,
.weatherForecastMaxTemperature {
  font-size: 13px;
}
.weatherForecastMaxTemperature {
  color: #797474;
}
.weatherForecastMinTemperature {
  color: #969292;
}
